<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <style>

        body{
            font-family: Arial;
            background:#0f172a;
            color:white;
            padding:20px;
        }

        .card{
            background:#1e293b;
            padding:15px;
            margin-bottom:15px;
            border-radius:10px;
        }

        a{
            color:#38bdf8;
            text-decoration:none;
        }

    </style>

</head>

<body>

    <h1>Summitlink Dashboard</h1>

    <div class="card">
        <h2>User Info</h2>

        <p><strong>Username:</strong> {{ current_user.username }}</p>

        <p><strong>Role:</strong> {{ current_user.role }}</p>

        <p><strong>Plan:</strong>
            {% if subscription %}
                {{ subscription.plan }}
            {% else %}
                Free
            {% endif %}
        </p>
    </div>

    <div class="card">

        <h2>Search History</h2>

        {% for item in searches %}

            <div>

                <h3>{{ item.searched_username }}</h3>

                <p>{{ item.created_at }}</p>

                <a href="/{{ item.result_file }}">
                    View Report
                </a>

            </div>

            <hr>

        {% endfor %}

    </div>

    <div class="card">

        <a href="/logout">Logout</a>

    </div>

</body>

</html>
